@font-face {
    font-family: 'MyFont';
    src: url('fonts/netflix-sans-font/NetflixSans-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyFont-bold';
    src: url('fonts/netflix-sans-font/NetflixSans-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MyFont'
}


.profile img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  transition: transform 0.3s;
}

.profile img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.add-profile {
  width: 120px;
  height: 120px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #333;
  transition: background-color 0.3s, transform 0.3s;
}

.add-profile:hover {
  background-color: #555;
  transform: scale(1.1);
  cursor: pointer;
}


p {
  font-size: 1rem;
  color: #aaa;
}